@charset 'UTF-8';

@import 'fonts';

body {
    font-family: 'robotocondensed_regular';
}

$primary-color: #edeaea;
$second-color: #5e6774;

h1,
h2 {
    color: $second-color;
}

.title {
    display: flex;
    justify-content: space-between;
}

img {
    display: block;
    margin: 0 auto;
    width: auto;
}

.container {
    margin: 0 auto;
    padding: 0 .5rem;
    width: 95%;
    max-width: 1235px;
}

.box {
    display: flex;
}

.visited {
    display: flex;
    &__products {
        border: 1px solid $primary-color;
        padding: 28px;
        width: 100%;
    }
}

.recomended {
    display: flex;
    &__products {
        border: 1px solid $primary-color;
        padding: 28px;
        width: 100%;
    }
}